<!DOCTYPE html>
{% include "Include/header.html" %}
<html lang="en">
    <style>
        .card-body{
            text-align: center !important;
        }
        .card{
            margin-top: 15%;
        }
        .card-title{
            margin-top: 2%;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body class="text-white">
<!-- <div class="d-flex justify-content-center">Page Under Construction</div> -->
<div class="container">
    <div class="card bg1-dark">
        <div class="card-title d-flex justify-content-center">
            <h3 style="padding-top: 1%;"> About Us</h3>
        </div>
            <div class="card-body">
                <p>At DepressionGo we believe in the way to help people to cure their sadness.
                 every user here is free to get in touch with any user at any time
                 so that whenever they feel low they can talk to anyone anytime.
                </p>
            </div>
        <div><br>
            <div class="card-title text-center">
                <h3>About Developer</h3>

            </div>
            <br>
            <div class="card-body">
                <p>
                    Hello this is Suyesh Badge , Currently completing my under grads in Computer Science and Engineering
                    from P.R. Pote (Patil) college of Engineering and Management, Amravati, Maharashtra
                    I have put alot of efforts in building this project on my own and hope you all
                    would appreciate. <br> You can get in touch with me any time at my socials down here. <br>
                    <h3><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <a href="https://www.linkedin.com/in/suyesh-badge-536000177/">LinkedIn  </a>
                        <br>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <a href="https://www.instagram.com/_suyesh._.badge_/"> Instagram  </a>
                        <br>
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <a href="https://github.com/SuyeshBadge">GitHub</a>
                    </h3>
                        <br> Thank You.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>